body {
    background-color: #f5f8fa;
}

#main {
    width: 800px;
    margin-left: auto ;
    margin-right: auto ;
}

#left-pane {
    float: left;
}

#right-pane {
    float: left;
    padding-left: 5px;
}

#canvas {
    border:1px solid #c3c3c3;
}

#right-pane div {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

#mousePosition {
    border:1px solid #c3c3c3;
}
